@model Item

@{
    Layout = "UserLayout";
    ViewData["Title"] = "Create Item";
}

<div class="container rounded box-shadow border border-dark"
     style="margin-top: 20px; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px;">
    <h3 class="text-center" style="padding-bottom: 20px;">
        Create New Item
    </h3>

    <br />

    <form asp-controller="User" asp-action="CreateItem" asp-route-id="@ViewBag.SprintId" method="post">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Item Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" type="text" class="form-control" placeholder="Item Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button type="submit" class="btn btn-primary">Create Team</button>
            </div>
        </div>
    </form>
</div>