@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container secondary rounded box-shadow text-center border border-dark text-white"
     style="margin-bottom: 100px; padding-top: 20px; padding-bottom: 20px;">
    <h3 class="border-bottom border-white" style="padding-bottom: 20px;">
        <i class="fas fa-question-circle"></i> Forgot Password Confirmation
    </h3>
    <br/>
    <h5>
        Please check your email to reset your password.
    </h5>
    <br/>
    <p>
        <a class="text-white" asp-controller="Home" asp-action="Index">Return Home</a>
    </p>
</div>