@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container secondary rounded box-shadow text-center border border-dark text-white"
     style="margin-bottom: 100px; padding-top: 20px; padding-bottom: 20px;">
    <h3 class="border-bottom border-white" style="padding-bottom: 20px;">
        <i class="fas fa-plus-square"></i> Register Confirmation
    </h3>
    <br/>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</div>
